/* Body */
body{
	margin:0;
	padding:20px 40px;
	font-family:'Open Sans', Arial, sans-serif;
	font-size:16px;
	font-weight:400;
	background-color:#FFF;
}

/* Link */
a:link,
a:visited{
	font-family:'Open Sans', Arial, sans-serif;
	font-weight:700;
	color:#017EAC;
	text-decoration:none;
	cursor:pointer;
}
a:hover,
a:visited{
	color:#23527C;
}

/* Typography */
h1,h2,h3,h4,h5{
	margin:0;
	padding:0;
	font-family:'Open Sans', Arial, sans-serif;
	color:#666;
}
h1#architectural-clash{
	padding-top:30px;
	font-size:48px;
	font-weight:800;
	line-height:1.0em;
	color:#017EAC;
	text-transform:uppercase;
	text-align:center;
	word-wrap:break-word;
    border-top:1px solid #efefef;
}
h1#architectural-clash::before{
	padding-right:10px;
	content:"\005C";
	font-family:'Open Sans', Arial, sans-serif;
	font-size:48px;
	font-weight:700;
	color:#CDCC00;
}
h2#introducing-architectural-clash{
	margin-bottom:10px;
	font-size:36px;
	font-weight:800;
	line-height:1.0em;
	text-align:center;
	text-transform:uppercase;
}
h2#why,
h2#when,
h2#what,
h2#who,
h2#how{
	font-size:28px;
	font-weight:400;
	color:#017EA0;
}
h2#why::before,
h2#when::before,
h2#what::before,
h2#who::before,
h2#how::before{
	padding-right:7px;
	content:"\005C";
	font-family:'Open Sans', Arial, sans-serif;
	font-size:30px;
	font-weight:700;
	color:#CDCC00;
}
h2#license{
	margin-top:50px;
	padding:5px 20px;
	font-size:14px;
	font-weight:400;
	text-transform:uppercase;
	border-top:1px solid #efefef;
}
h3#phase-0-choose-the-task,
h3#phase-1-the-clash,
h3#phase-2-the-outcome{
	padding:0 20px;
	font-size:18px;
	font-weight:700;
	color:#CDCC00;
}

p{
	margin:0;
	padding:0;
	font-family:'Open Sans', Arial, sans-serif;
	font-size:16px;
	font-weight:400;
}
p:nth-of-type(1),
p:nth-of-type(2){
	margin:0 15%;
	width:70%;
	font-weight:700;
	line-height:1.3em;
	color:#017EA0;
	text-align:center;
}
blockquote p{
	margin:0 auto;
	font-size:14px;
	text-align:center;
}
blockquote p strong{
	color:#666;
}
blockquote p strong a:link,
blockquote p strong a:visited{
	font-family:'Open Sans', Arial, sans-serif;
	font-weight:400;
}
blockquote p:nth-of-type(1),
blockquote p:nth-of-type(2){
	display:block;
}
blockquote p:nth-of-type(2){
	font-size:14px;
	font-style:italic;
	font-weight:400;
	color:#666;
}
p:nth-of-type(3){
	margin-bottom:30px;
	font-size:16px;
	color:#666;
	text-align:center;
}
p:nth-of-type(4),
p:nth-of-type(5),
p:nth-of-type(6),
p:nth-of-type(7),
p:nth-of-type(8){
	margin-bottom:30px;
	padding:0 20px;
}
p:nth-of-type(8){
	margin-bottom:10px;
}
p:nth-of-type(9){
	margin-bottom:0;
	padding:0 20px;
}
p:nth-of-type(10),
p:nth-of-type(11),
p:nth-of-type(12),
p:nth-of-type(13),
p:nth-of-type(14){
	margin-bottom:15px;
	padding:0 20px;
}
p:nth-of-type(13){
	position:relative;
	margin:0 auto 20px;
	padding-left:100px;
	padding-bottom:10px;
	font-size:12px;
	/*border-bottom:1px solid #efefef;*/
}
p:nth-of-type(13) br{
	display:none;
}
p:nth-of-type(13) img{
	position:absolute;
	top:0;
	left:20px;
	width:70px;
	display:inline-block;
	width:70px;
}
p:nth-of-type(14){
	padding:0 20px;
	text-align:center;
}
ul{
	margin:0 0 10px;
}

/* Elements */
hr{
	margin:40px 0;
	border:none;
	border-bottom:1px solid #EFEFEF;
}